.carousel-item-padding-40-px {
  padding: 0 20px; /* Adjust the padding to prevent overlap */
  max-width: 322px;
  box-sizing: content-box;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15); /* Translucent white */
  backdrop-filter: blur(10px); /* Creates the glossy effect */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border for extra depth */
}

.react-multi-carousel-track {
  gap: 16px;
}
